Repository RiaanDP/charades: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-audit

eslint:
  name: eslint
  entry: npx eslint
  language: system
  args:
  - --max-warnings=0

npm-audit:
  name: npm audit
  entry: npm audit
  language: system
  pass_filenames: false

Fixed linter issues manually
  app/game.tsx
Due: eslint

Install maestro
  .maestro/README.md
  .maestro/config.yaml
  package.json
Due: npm-audit

Add Playwright for e2e testing
  .gitignore
  e2e/README.md
  e2e/app.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint, npm-audit

docs: Extract status information into separate STATUS.MD file
  CLAUDE.MD
  STATUS.MD
Due: none

docs: Add Time Attack and Speed Run game mode specifications
  CLAUDE.MD
Due: none

docs: Add 8-phase implementation plan for game modes
  STATUS.MD
Due: none

feat: Add game mode configuration types and constants
  STATUS.MD
  constants/game-modes.ts
Due: eslint

test: Fix Playwright tests with accelerometer mock for web platform
  app/game.tsx
  e2e/app.spec.ts
  utils/accelerometer-mock.ts
Due: eslint

feat: Complete Phase 2 setup screen UI with game mode selection
  STATUS.MD
  app/_layout.tsx
  app/setup.tsx
  e2e/app.spec.ts
Due: eslint

feat: Complete Phase 3 with full category-to-setup-to-game navigation flow
  STATUS.MD
  app/index.tsx
  app/setup.tsx
  e2e/app.spec.ts
Due: eslint

refactor: Remove Speed Run info box from setup screen
  app/setup.tsx
  e2e/app.spec.ts
Due: eslint

feat: Parse URL parameters for game configuration (Phase 4)
  STATUS.MD
  app/game.tsx
Due: eslint

feat: Implement timer logic for both game modes (Phase 5)
  STATUS.MD
  app/game.tsx
  e2e/app.spec.ts
Due: eslint

feat: disable skip gesture in Speed Run mode (Phase 6)
  STATUS.MD
  app/game.tsx
Due: eslint

feat: implement mode-specific game over screens (Phase 7)
  STATUS.MD
  app/game.tsx
Due: eslint

feat: add edge case handling and app backgrounding support (Phase 8)
  STATUS.MD
  app/game.tsx
Due: eslint

feat: lock category selection and setup screens to portrait mode
  app/index.tsx
  app/setup.tsx
Due: eslint

feat: disable hardware back button during gameplay
  app/game.tsx
Due: eslint

docs: add Family category implementation plan to STATUS.MD
  STATUS.MD
Due: none

feat: add Family category with 250 AI-generated cards
  constants/cards.ts
  constants/categories.ts
  e2e/app.spec.ts
Due: eslint

docs: update STATUS.MD to reflect Family category completion
  STATUS.MD
Due: none

docs: update CLAUDE.MD to reflect Family category addition
  CLAUDE.MD
Due: none

feat: add 2-second cooldown between gesture recognitions
  app/game.tsx
Due: eslint

docs: update CLAUDE.MD with gesture cooldown details
  CLAUDE.MD
Due: none

feat: switch from inline SVG to URL-based SVG rendering
  app/game.tsx
  constants/cards.ts
  package-lock.json
  package.json
Due: eslint, npm-audit

docs: document SVG images feature for Family category
  CLAUDE.MD
  STATUS.MD
Due: none

refactor: switch from react-native-svg to expo-image for SVG rendering
  app/game.tsx
Due: eslint

refactor: disable image rendering in Family cards
  app/game.tsx
Due: eslint

Update vulnerable dependencies
  package-lock.json
Due: npm-audit

Check sensitive files during pre-commit
  .pre-commit-config.yaml
  cd/scripts/check-sensitive-files.sh
Due: none

Fix package vulnerability
  package-lock.json
Due: npm-audit

Path conditions:
  eslint: any of: \.[jt]sx?$
  npm-audit: any of: ^package(-lock)?\.json$
